<!-- <section>
    <div class="section main">
        <div class="container">
            {% assign img_folder = '/assets/img/' | append: include.category | append: '/' %}
            {% assign mypages = site.pages | where: "type", include.category %}
            {% for page in mypages %}
            {% assign src_img = img_folder | append: page.title | append: '.jpg' %}
            <a class="button" href="{{ page.url | relative_url }}"> <img src="{{ src_img | relative_url }}" width="200" height="132">
            </a>
            {% endfor %}
        </div>
    </div>
</section> -->

<section>
    <div class="section main">
        <div class="container">
            {% assign img_folder = '/assets/img/' | append: include.category | append: '/' %}
            {% assign mypages = site.pages | where: "type", include.category %}
            {% for page in mypages %}
            {% assign src_img = img_folder | append: page.title | append: '.jpg' %}
            <a class="button" href="{{ page.url | relative_url }}"> <img src="{{ src_img | relative_url }}" width="200" height="132">
            </a>
            {% endfor %}
        </div>
    </div>
</section>