
<section>
  <div style="text-align:center">
    <h3 class="project-title" >{{ page.title }}</h3>
  </div>
  
  <div class="project-container-gallery">
    {% for post in site.data.settings.[page.folder] %}
      <a href="{{ site.url }}/myposts/{{page.folder}}/{{ post.url }}">
        <div class="project-unit-gallery" data-folder="{{ site.url }}/myposts/{{page.folder}}/{{ post.url }}" style="background-image: url({{ site.url }}/assets/img/posts/{{page.folder}}/{{ post.url }}/thumbnail.png)">
          <div class="project-overlay-gallery">
            <strong>{{ post.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  </section>