<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}
 	<!-- Primary Page Layout
 	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <div class="section main">
        <div class="container">
            <p markdown="1" style="text-align: center;">
            Abe has and amazing man... the best! Friend of God!
    
            </p>
        </div>
    </div>
	<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include footer.html %}
</body>
</html>